.Cell {
  align-items: center;
  background: #1aad03 url('./grass.png');;
  box-shadow: inset 1px 1px 1px black;
  display: flex;
  font-size: 12px;
  justify-content: center;
  user-select: none;
}

.Cell.player {
background: gold;
}
