/*** Slash Attacks ***/
.slash-attack-east {
  animation: eastSlash $animation_duration steps(5) 1;
}
@keyframes eastSlash {
  0% {
    background-position: 0 $cell_side * -15;
    transform: translateX(0);
  }
  50% {
    transform: translateX($cell_side/1.8);
  }
  100% {
    background-position: $cell_side * -5 $cell_side * -15;
    transform: translateX(0);
  }
}

.slash-attack-north {
  animation: northSlash $animation_duration steps(5) 1;
  z-index: 1 !important;
}
@keyframes northSlash {
  0% {
    background-position: 0 $cell_side * -12;
    transform: translateY(0);
  }
  50% {
    transform: translateY($cell_side/-1.8);
  }
  100% {
    background-position: $cell_side * -5 $cell_side * -12;
    transform: translateY(0);
  }
}

.slash-attack-south {
  animation: southSlash $animation_duration steps(5) 1;
  z-index: 0 !important; // This is necessary to keep from overlapping targets on South attack
}
@keyframes southSlash {
  0% {
    background-position: 0 $cell_side * -14;
    transform: translateY(0);
  }
  50% {
    transform: translateY($cell_side/1.8);
  }
  100% {
    background-position: $cell_side * -5 $cell_side * -14;
    transform: translateY(0);
  }
}

.slash-attack-west {
  animation: westSlash $animation_duration steps(5) 1;
}
@keyframes westSlash {
  0% {
    background-position: 0 $cell_side * -13;
    transform: translateX(0);
  }
  50% {
    transform: translateX($cell_side/-1.8);
  }
  100% {
    background-position: $cell_side * -5 $cell_side * -13;
    transform: translateX(0);
  }
}

/*** Thrust Attacks ***/
.thrust-attack-east {
  animation: eastThrust $animation_duration steps(7) 1;
}
@keyframes eastThrust {
  0% {
    background-position: 0 $cell_side * -7;
    transform: translateX(0);
  }
  50% {
    /*background-position: $cell_side * -4 $cell_side * -5;*/
    transform: translateX($cell_side/1.8);
  }
  100% {
    background-position: $cell_side * -7 $cell_side * -7;
    transform: translateX(0);
  }
}

.thrust-attack-north {
  animation: northThrust $animation_duration steps(7) 1;
}
@keyframes northThrust {
  0% {
    background-position: 0 $cell_side * -4;
    transform: translateY(0);
  }
  50% {
    /*background-position: $cell_side * -4 $cell_side * -5;*/
    transform: translateY($cell_side/-1.8);
  }
  100% {
    background-position: $cell_side * -7 $cell_side * -4;
    transform: translateY(0);
  }
}

.thrust-attack-south {
  animation: southThrust $animation_duration steps(7) 1;
  z-index: 0 !important;
}
@keyframes southThrust {
  0% {
    background-position: 0 $cell_side * -3;
    transform: translateY(0);
  }
  50% {
    transform: translateY($cell_side/1.8);
  }
  100% {
    background-position: $cell_side * -7 $cell_side * -3;
    transform: translateY(0);
  }
}

.thrust-attack-west {
  animation: westThrust $animation_duration steps(7) 1;
}
@keyframes westThrust {
  0% {
    background-position: 0 $cell_side * -5;
    transform: translateX(0);
  }
  50% {
    transform: translateX($cell_side/-1.8);
  }
  100% {
    background-position: $cell_side * -7 $cell_side * -5;
    transform: translateX(0);
  }
}

/*** Movement ***/
.move-east {
  animation: moveEast $animation_duration steps(8) 1;
}
@keyframes moveEast {
  from {
    background-position: 0 $cell_side * -11;
    transform: translateX(-$cell_side);
  }
  to {
    background-position: $cell_side * -8 $cell_side * -11;
  }
}

.move-north {
  animation: moveNorth $animation_duration steps(8) 1;
}
@keyframes moveNorth {
  from {
    background-position: 0 $cell_side * -8;
    transform: translateY($cell_side);
  }
  to {
    background-position: $cell_side * -8 $cell_side * -8;
  }
}

.move-south {
  animation: moveSouth $animation_duration steps(8) 1;
}
@keyframes moveSouth {
  from {
    background-position: 0 $cell_side * -10;
    transform: translateY(-$cell_side);
  }
  to {
    background-position: $cell_side * -8 $cell_side * -10;
  }
}

.move-west {
  animation: moveWest $animation_duration steps(8) 1;
}
@keyframes moveWest {
  from {
    background-position: 0 $cell_side * -9;
    transform: translateX($cell_side);
  }
  to {
    background-position: $cell_side * -8 $cell_side * -9;
  }
}
