.sprite {
  overflow: 'hidden';
  position: 'absolute';
}

.attack-east {
  animation: westSpearThrust 0.4s steps(7) 1;
}
.attack-north {
  animation: westSpearThrust 0.4s steps(7) 1;
}
.attack-south {
  animation: westSpearThrust 0.4s steps(7) 1;
}

.attack-west {
  animation: westSpearThrust 0.4s steps(7) 1;
}
@keyframes westSpearThrust {
  0% {
    background-position: 0px -200px;
    transform: translateX(0);
  }
  50% {
    /*background-position: -160px -200px;*/
    transform: translateX(-25px);
  }
  100% {
    background-position: -280px -200px;
    transform: translateX(0);
  }
}


.attack-west {
  animation: westSpearThrust 0.4s steps(7) 1;
}
@keyframes westSpearThrust {
  0% {
    background-position: 0px -200px;
    transform: translateX(0);
  }
  50% {
    /*background-position: -160px -200px;*/
    transform: translateX(-25px);
  }
  100% {
    background-position: -280px -200px;
    transform: translateX(0);
  }
}

/*** EAST ***/
.move-east {
  animation: moveEast 0.4s steps(8) 1;
}

@keyframes moveEast {
  from {
    background-position: 0 -440px;
    transform: translateX(-40px);
  }
  to {
    background-position: -320px -440px;
  }
}

/*** NORTH ***/
.move-north {
  animation: moveNorth 0.4s steps(8) 1;
}

@keyframes moveNorth {
  from {
    background-position: 0 -320px;
    transform: translateY(40px);
  }
  to {
    background-position: -320px -320px;
  }
}

/*** SOUTH ***/
.move-south {
  animation: moveSouth 0.4s steps(8) 1;
}

@keyframes moveSouth {
  from {
    background-position: 0 -400px;
    transform: translateY(-40px);
  }
  to {
    background-position: -320px -400px;
  }
}

/*** WEST ***/
.move-west {
  animation: moveWest 0.4s steps(8) 1;
}

@keyframes moveWest {
  from {
    background-position: 0 -360px;
    transform: translateX(40px);
  }
  to {
    background-position: -320px -360px;
  }
}
