.sprite {
  overflow: 'hidden';
  position: 'absolute';
}

/*** Slash Attacks ***/
.slash-attack-east {
  animation: eastSlash 0.4s steps(5) 1;
}
@keyframes eastSlash {
  0% {
    background-position: 0px -600px;
    transform: translateX(0);
  }
  50% {
    /*background-position: -160px -200px;*/
    transform: translateX(22px);
  }
  100% {
    background-position: -200px -600px;
    transform: translateX(0);
  }
}

.slash-attack-north {
  animation: northSlash 0.4s steps(5) 1;
}
@keyframes northSlash {
  0% {
    background-position: 0px -480px;
    transform: translateY(0);
  }
  50% {
    transform: translateY(-22px);
  }
  100% {
    background-position: -200px -480px;
    transform: translateY(0);
  }
}

.slash-attack-south {
  animation: southSlash 0.4s steps(5) 1;
}
@keyframes southSlash {
  0% {
    background-position: 0px -560px;
    transform: translateY(0);
  }
  50% {
    transform: translateY(22px);
  }
  100% {
    background-position: -200px -560px;
    transform: translateY(0);
  }
}

.slash-attack-west {
  animation: westSlash 0.4s steps(5) 1;
}
@keyframes westSlash {
  0% {
    background-position: 0px -520px;
    transform: translateX(0);
  }
  50% {
    transform: translateX(-22px);
  }
  100% {
    background-position: -200px -520px;
    transform: translateX(0);
  }
}

/*** Thrust Attacks ***/
.thrust-attack-east {
  animation: eastThrust 0.4s steps(7) 1;
}
@keyframes eastThrust {
  0% {
    background-position: 0px -280px;
    transform: translateX(0);
  }
  50% {
    /*background-position: -160px -200px;*/
    transform: translateX(22px);
  }
  100% {
    background-position: -280px -280px;
    transform: translateX(0);
  }
}

.thrust-attack-north {
  animation: northThrust 0.4s steps(7) 1;
}
@keyframes northThrust {
  0% {
    background-position: 0px -160px;
    transform: translateY(0);
  }
  50% {
    /*background-position: -160px -200px;*/
    transform: translateY(-22px);
  }
  100% {
    background-position: -280px -160px;
    transform: translateY(0);
  }
}

.thrust-attack-south {
  animation: southThrust 0.4s steps(7) 1;
}
@keyframes southThrust {
  0% {
    background-position: 0px -240px;
    transform: translateY(0);
  }
  50% {
    /*background-position: -160px -200px;*/
    transform: translateY(22px);
  }
  100% {
    background-position: -280px -240px;
    transform: translateY(0);
  }
}

.thrust-attack-west {
  animation: westThrust 0.4s steps(7) 1;
}
@keyframes westThrust {
  0% {
    background-position: 0px -200px;
    transform: translateX(0);
  }
  50% {
    /*background-position: -160px -200px;*/
    transform: translateX(-22px);
  }
  100% {
    background-position: -280px -200px;
    transform: translateX(0);
  }
}

/*** Movement ***/
.move-east {
  animation: moveEast 0.4s steps(8) 1;
}
@keyframes moveEast {
  from {
    background-position: 0 -440px;
    transform: translateX(-40px);
  }
  to {
    background-position: -320px -440px;
  }
}

.move-north {
  animation: moveNorth 0.4s steps(8) 1;
}
@keyframes moveNorth {
  from {
    background-position: 0 -320px;
    transform: translateY(40px);
  }
  to {
    background-position: -320px -320px;
  }
}

.move-south {
  animation: moveSouth 0.4s steps(8) 1;
}
@keyframes moveSouth {
  from {
    background-position: 0 -400px;
    transform: translateY(-40px);
  }
  to {
    background-position: -320px -400px;
  }
}

.move-west {
  animation: moveWest 0.4s steps(8) 1;
}
@keyframes moveWest {
  from {
    background-position: 0 -360px;
    transform: translateX(40px);
  }
  to {
    background-position: -320px -360px;
  }
}
